<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Simulator.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiScreensMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftToolsPanelWidth" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="RightToolsPanelWidth" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="LeftToolsPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RightToolsPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </Simulator.Properties.Settings>
    </userSettings>
</configuration>